/*ketangjie-ui.css*/
@import url('//at.alicdn.com/t/font_1098065_konffd7lp7a.css');

/*组件共用小样式*/
body .ktj-fl{
    float: left
}
body .ktj-fr{
    float: right;
}

body .ktj-pt10{
    padding-top: 10px;
}
body .ktj-pt15{
    padding-top: 15px;
}
body .ktj-pt20{
    padding-top: 20px;
}
body .ktj-ml5{
    margin-left: 5px;
}
body .ktj-ml10{
    margin-left: 10px;
}
body .ktj-mt10{
    margin-top: 10px
}
body .ktj-mt15{
    margin-top: 15px
}
body .ktj-mt20{
    margin-top: 20px
}
body .ktj-mt30{
    margin-top: 30px
}
body .ktj-blank10{
    height: 10px;
    overflow: hidden;
}
body .ktj-none{
    display: none
}
body .ktj-nomore{
    text-align: center;
    line-height: 40px;
    color:#b5b5b5
}

body .ktj-text-center{
    text-align: center;
}

body .ktj-bg-primary{
    background-color:#e64a3b !important
}
body .ktj-color-primary,
body .ktj-color-error{
    color:#e64a3b !important
}
body .ktj-color-link{
    color:#4995e3
}
body .ktj-color-info{
    color:#999
}
body .ktj-fz16{
    font-size: 16px;
}

body .ktj-fz18{
    font-size: 18px;
}

body .ktj-fz22{
    font-size: 22px;
}

body .ktj-bg-white{
    background-color:#fff
}

.ktj-nowrap{
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
/*内容*/
.ktj-content p{
    color:#424242 !important;
    line-height:2 !important;
    
}
.ktj-content p,
.ktj-content span{
    font-size: 14px !important;
}
.ktj-content img{
    max-width:100%;
    height: auto !important;

}
.ktj-content__head{
    font-size: 14px;
    font-weight: bold;
    line-height: 44px
}

.ktj-tag{
    height: 20px;
    line-height: 20px;
    display: inline-block;
    padding: 0 5px;
    border: 1px solid #e64a3b;
    color:#e64a3b;
    border-radius: 4px;
}
.ktj-input{
    height: 20px;
    line-height: 20px;
    padding: 7px 0;
    border: 0px;
    font-size: 14px;
    width: 100%;
}
.ktj-alert{
    padding: 10px;
    background: #f9f9f9;
    line-height: 22px;
    color:#666;
}

.ktj-masked {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    top: 0;
    left: 0;
    z-index: 99;
}

/*通用*/
.ktj-line{ position:relative;}
.ktj-line:after{
	display: block;
	content: " ";
	height: 0px;
	width: 100%;
	box-sizing: border-box;
	border-bottom:1px solid #e3e3e3;
	-webkit-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
	-webkit-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	transform-origin: 0 100%;
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	z-index: 1;
}


/*组件补充*/
.ktj-list-item__icon{
    width: 22px;
    height: 22px;
    line-height: 22px;
    float: left;
    position: relative;
    top: 11px;
    margin-right: 15px;
}
.ktj-list-item__icon img{
    width: 100%;
    height: 100%;

}

.ktj-list-item__num{
    padding: 0 5px;
    border-radius:20px;
    font-size: 14px;
    color:#fff;
    background: #e64a3b;
    height: 20px;
    line-height: 20px;
    min-width: 10px;
    position: relative;
    top: 12px;
}


/*选项卡*/
.ktj-tabs__header{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.ktj-tab__item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    color: #666;
    position: relative
}
.ktj-tab__item span {
    position: relative;
    display: inline-block;
}
.ktj-tab__info{
    position: absolute;
    right: -18px;
    top: 3px;
    height: 18px;
    line-height: 18px;
    background: #e64a3b;
    color:#fff;
    font-size: 12px;
    font-style: normal;
    min-width: 10px;
    padding: 0 4px;
    border-radius: 18px;
}
.ktj-tab__active_line {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    width: 100%;
}


/*动画*/
.fade-enter-active, .fade-leave-active {
    transition: .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fade-up-enter-active, .fade-up-leave-active {
    transition: .5s;
}
.fade-up-enter, .fade-up-leave-to {
    opacity: 0;
    transform: translateY(-15px);
}

.slide-in-up-active, .slide-in-up-leave-active {
    transition: .5s;
}
.slide-in-up-enter,
.slide-in-up-leave-to {
    opacity: 0;
    transform: translateY(150px);
}